div.editor-row
  div.section.gf-form-group
    h5.section-heading Breadcrumb Panel Options
    div.gf-form
      gf-form-switch(label="Is Root Dashboard" checked="ctrl.panel.isRootDashboard" label-class="width-7").gf-form
